SUPABASE_URL=https://ckjsrurruaxcveoxpzws.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_OTbvoTeNX5sC71AT7mqfNg_hoac-5uY
SUPABASE_SECRET_KEY=your-supabase-secret-key-here
SUPABASE_JWKS_URL=https://ckjsrurruaxcveoxpzws.supabase.co/auth/v1/.well-known/jwks.json
